# dependencies
/node_modules
**/.pnp
.pnp.*

# next.js
**/.next/
**/out/

# vercel
.vercel

# env files
**/.env
**/.env.local
.env.*

# typescript
*.tsbuildinfo
next-env.d.tsaa

# misc
.DS_Store
*.pem
__pycache__/
*.pyc